.button{
    color:var(--color-alert);
    display: inline-block;
    border:1px solid;
    padding: .5em 1em;
    border-radius: 25rem;

    &:hover{
        background: var(--color-alert);
        color:#fff;
    }
}