


.card{
    margin-bottom: 2rem;
    border: 1px solid var(--color-border);
    &__img img{
        display: block;
    }
    &__content{
        padding: 1rem;
        background: #fff;
        
    }
    &__title{
        font-size: var(--h3-font-size);
    }
    &__subtitle{
        margin-top: .1rem;
        margin-bottom: .5rem;
        opacity: .6;
    }
    &__footer{
        border-top:1px solid var(--color-border);
        margin-top:1rem;
        padding-top: 1rem;
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
}
.cards-grid{
    @include media-queries(large){
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap:2rem;
        
    }
}