.main-categories{
    list-style: none;
    // padding-left: 0;
    display: flex;
    justify-content: space-around;
    height: 56px;
    align-content: center;
    align-items: center;
    background-color: $background-second;
    font-family: $open-sans;
    a{
        color:#fff;
    }
}
.main--category{
    font-size: var(--font-size-subtitle);
    text-transform: uppercase;
    font-weight: 600;
}