.main-header{
    height: $header-height;
}
.main-header__block{
    justify-content: space-between;
    align-items: center;
    height: auto;
    display: grid;
    grid-template-areas: "logo nav nav"
                          "logo search search";
    grid-template-columns:1fr 3fr 1fr;
    // grid-template-rows: repeat(2,calc(var(--header-height)/2));
    // grid-template-areas:
    //     "logo title menu";
    //     grid-template-columns: var(--header-height) 1fr 1fr;
        // grid-template-rows: repeat(2,calc(var(--header-height)/2));
        // grid-gap: 1vw;
}
.main-nav{
grid-area: nav;
font-size: var(--small-font-size);

}
.main-logo{
    grid-area: logo;
    background-color:$background-first;
    height:var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main-form{
    grid-area:search;
    display: flex;
    justify-content: space-between;
    min-height: 59px;
    border-top:1px solid var(--color-border-three);
    &--input{
        font-family:$open-sans;
        width: 100%;
        font-size:var(--font-size-input);
        font-weight: 300;
        letter-spacing:var(--letter-spacing);
        line-height:var(--line-height);
        padding-left: 1%;
    }
    &--button{
        font-family:$open-sans;
        height:auto;
        font-size:var(--font-size-subtitle);
        min-width: 230px;
        background-color:$background-four;
        color:var(--color-first);
        line-height: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }
}

.icon-icn_search{
    font-size: 23px;
    line-height: 51px;
    padding-left: 15px;
    color:var(--color-four);

}
.icon-icn_cart{
    color:var(--color-first);
    font-size: 23px;
    line-height: 51px;
    padding-right: 15px;
}