
:root{
    --scroll-bar:13px;
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
}
@mixin media-queries($breakpoint) {
    @media screen and(min-width:$breakpoint){
        @content
    }
}
*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: lato, sans-serif;
    font-size:var(--body-font-size);

}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}
h1{
    font-size: var(--h1-font-size);
}
h3{
    font-size: var(--h3-font-size);
}