.l-container{
    max-width:$max-width;
    // display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.center-block{
    margin-left:auto;
    margin-right: auto;
}
.center-text{
text-align: center;   
}
.main-grid{
    justify-content: space-between;
    height: auto;
    display: grid;
    grid-template-areas: "aside  cards  cards  cards cards"
                         "aside  cards  cards  cards cards"
                         "footer footer footer footer footer";
    grid-template-columns: 20% 1fr;
    grid-gap: .5em;
    min-height: 90vh;
}